* {
    padding: 0;
    margin: 0;
    font-family: Cormorant Garamond Light;
}

body {
    background-color: rgba(253, 255, 240, 1);
}

.text-box {
    top: 22%;
    color: rgba(63, 66, 49, 1);
    margin-left: 200px;
    position: absolute;
    z-index: 1;
}
.image1 {
    width: 311px;
    height: 466px;
    position: absolute;
    top:33%;
    left: 31.3%;
}
.image2 {
    width: 310px;
    height: 206px;
    position: absolute;
    top: 100%;
    left: 225px;
}
.form-container {
    top: 17%;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    width: 100%;
    box-sizing: border-box; /* Add this to ensure padding doesn't affect width */
    
}

.style-form {
    width: auto; /* Adjust width to auto for better responsiveness */
    padding: 15px;
    margin-top: 10px;
    color: rgba(63, 66, 49, 1);
    align-self: flex-end; /* Ensure the form aligns to the end of the container */
    margin-right: 230px;
}

.inline-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 300px; /* Set a fixed width for the form */
    font-size: 14px;
    color: rgba(63, 66, 49, 1);
}

.inline-form input[type="text"],
.inline-form input[type="password"],
.inline-form input[type="email"],
.inline-form select {
    border: none;
    border-bottom: 1px solid rgba(63, 66, 49, 1);
    background: none;
    outline: none;
    padding: 5px 0;
    width: 100%;
    font-size: 14px;
    color:  rgba(63, 66, 49, 1);
}

.inline-form select option {
    font-size: 14px; 
    color: rgba(163, 98, 0, 1);
    cursor:pointer;
}
.inline-form select option:hover {
    background-color: rgba(63, 66, 49, 1); /* Change this to the desired color */
    color: rgb(255, 0, 0); /* Change this to the desired text color */
    cursor: pointer;
  }
.inline-form input[type="submit"] {
    margin-top: 20px;
    padding: 14px 20px;
    background-color: rgba(163, 98, 0, 1);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.7s ease;
}

.inline-form input[type="submit"]:hover {
    background-color: rgba(253, 255, 240, 1);
    border: 1px solid rgba(163, 98, 0, 1);
    color:  rgba(163, 98, 0, 1);
}

.login-box{
    text-align: center;
}
.click-login{
    text-decoration: none;
    color: rgba(163, 98, 0, 1); 
    cursor: pointer;
}

.green {
    position: absolute;
    background-color: rgba(63, 66, 49, 1);
    top: 145%;
    height: 330px;
    width: 100%;
}
.text {
    color: rgba(254,188,87,1);
    left: 7%;
    position: relative;
    top: 28%;
    font-size: 28px;
}

.address {
    position: relative;
    top: 28%;
    font-size: 14px;
    color: rgba(254,188,87,1);
    line-height: 0.5;
    font-weight: lighter;
    left: 25%;
    width: 300px; 
    margin: 0 auto;
}
.address a{
    text-decoration: none;
    color: rgba(254,188,87,1);
}

